/* General settings */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
	font-size: 62.5%;
	background-color: #6725a8;
}

span:empty {
	opacity: 0;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

h2 {
	color: #000;
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 3.6rem;
}

.section__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.6rem;
}

.wrapper--white {
	background-color: #fff;
	border-radius: 16px;
}

input {
	border: none;
	outline: none;
}

/* FONTS */
.text--change {
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #cb11ab;
}

.text--heading {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 3.2rem;
}

.text--heading-4 {
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
}

.text--primary {
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2.4rem;
}

.text--secondary {
	font-size: 1.6rem;
	line-height: 2.4rem;
}

.text--tertiary {
	font-size: 1.3rem;
	line-height: 1.6rem;
}

.text--gray {
	color: #9797af;
	font-size: 1.3rem;
	line-height: 1.6rem;
}

/* HEADER */
.header {
	height: 11.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
}

.header__left {
	display: flex;
	align-items: center;
	margin-left: 2.4rem;
}

.header__center {
	width: 69.3%;
}

.header__center img:first-child {
	display: none;
}

.header__right {
	display: flex;
	justify-content: space-between;
	width: 15.2rem;
	margin-right: 2.1rem;
}

.search--mobile {
	display: none;
}

.header__item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 5.6rem;
	height: 5.6rem;
	font-size: 1.3rem;
	line-height: 1.6rem;
}

.header__search {
	position: relative;
	border-radius: 36px;
	height: 4.8rem;
	border: none;
	outline: none;
	padding: 0 2rem;
	background: rgba(255, 255, 255, 0.2);
}

.header__input {
	width: 95%;
	height: 4.8rem;
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
	opacity: 0.6;
}

.header__input::placeholder {
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: #fff;
	opacity: 0.5;
}

.header__search img {
	position: absolute;
	cursor: pointer;
	top: 1.3rem;
	right: 2.3rem;
}

.header__img-1 {
	width: 19px;
	height: 20px;
}

.header__img-2 {
	width: 26px;
	height: 23px;
}

/* ITEM AMOUNT */

.item__amount {
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 0.1rem 0.5rem;
	border-radius: 1.6rem;
	background-color: #f55123;
	position: absolute;
	top: -0.5rem;
	right: 0.7rem;
	text-align: center;
	font-weight: 700;
}

.item__amount-delivery {
	color: white;
	top: -1rem;
	right: -0.65rem;
}

/* BURGER */
.burger {
	position: relative;
	cursor: pointer;
	width: 4.8rem;
	height: 4.8rem;
	border: 1px solid rgba(255, 255, 255, 0.45);
	border-radius: 8px;
	margin-right: 1.6rem;
}

.burger img {
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translate(0, -50%);
}

.burger--mobile {
	display: none;
}

/* MAIN */
.content {
	margin-top: -1.1rem;
	background-color: #f6f6fa;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	padding: 0 2.4rem;
	padding-top: 3.2rem;
}

/* CART SECTION */
.section__cart {
	width: 89.1rem;
	margin-right: 3.2rem;
}
.section__in-stock {
	margin-top: 2.7rem;
	color: #000;
}

.section__in-stock--header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.6rem;
}

.arrow-up {
	width: 16px;
	height: 10px;
}

.in-stock__all {
	display: flex;
}

.in-stock__all p {
	margin-left: 1.1rem;
	font-size: 1.6rem;
	line-height: 2.4rem;
}

.in-stock__products {
	border-top: 1px solid #e6e6e6;
}
.product__item {
	margin-top: 1.1rem;
	display: flex;
	justify-content: space-between;
}

.product__item:not(:last-child) {
	margin-bottom: 2rem;
}

.item__info {
	position: relative;
	display: flex;
}

.item__info p:first-child {
	margin-left: -0.3rem;
}

.item__pic {
	width: 7.2rem;
	height: 9.6rem;
	margin: 0 1.6rem 0 1.2rem;
}

.item__name {
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin-bottom: 0.8rem;
	word-wrap: wrap;
	width: 27.5rem;
}

.item__param {
	display: flex;
	font-size: 1.3rem;
	line-height: 1.6rem;
}

.item__param p:first-child {
	margin-right: 1.6rem;
	margin-bottom: 0.8rem;
}

.item__address p:first-child {
	margin-bottom: 0.4rem;
}

.item__comp {
	display: flex;
}

.item__comp p {
	margin-right: 0.6rem;
}

.item__left {
}

.item__left label {
	top: 12px;
}

.item__right {
	display: flex;
}
.item__interaction {
	width: 10rem;
	display: flex;
	flex-direction: column;
}

.interaction__bottom p {
	color: #ff3b30;
	font-size: 1.3rem;
	line-height: 1.6rem;
	margin-bottom: 0.8rem;
}

.item__counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 10rem;
	background-color: #fff;
	border-radius: 8px;
	height: 4.4rem;
	margin-bottom: 0.8rem;
}

.item__counter-display {
	font-size: 1.6rem;
	line-height: 2.4rem;
}
.item__icons {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

.item__icons svg:first-child {
	margin-right: 1.7rem;
}

.fav:hover {
	fill: #CB11AB;
}

.trash-can:hover {
	fill: #F55123;
}

.item__price {
	position: relative;
	text-align: right;
	width: 11rem;
	margin-left: 1.6rem;
}
.price {
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.8rem;
	width: 11rem;
}

.currency span {
	font-size: 1.6rem;
	line-height: 2.4rem;
}

.discount {
	display: inline-block;
	font-size: 1.3rem;
	line-height: 1.6rem;
	color: #a0a0a4;
	text-decoration: line-through;
	border-bottom: 1px dashed #a0a0a4;
	cursor: pointer;
}

/* INFO POPUP */
.info-popup {
	display: flex;
	flex-direction: column;
	padding: 11px 13px 16px;
	width: 28rem;
	height: 10.4rem;
	background-color: #fff;
	border-radius: 8px;
	position: absolute;
	top: 90px;
	left: 110px;
	z-index: 100;
	visibility: hidden;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.info {
	cursor: pointer;
}

.info:hover .info-popup {
	visibility: visible;
}

.info-popup h3 {
	margin-bottom: 8px;
}

.info-popup p:not(:last-child) {
	margin-bottom: 8px;
}

/* DISCOUNT POPUP */
.discount-popup {
	position: relative;
}

.discount-popup:hover .discount-popup-content {
	visibility: visible;
}

.discount-popup-content {
	display: flex;
	padding: 1.1rem 1.6rem 1.3rem 1.6rem;
	position: absolute;
	top: 20px;
	right: -10px;
	width: 23.9rem;
	background-color: #fff;
	z-index: 1001;
	border-radius: 8px;
	visibility: hidden;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.discount-popup-content--left {
	text-align: left;
	margin-right: 8px;
}
.discount-popup-content--left p:first-child{
	margin-bottom: 8px;
}

.discount-popup-content--right p:first-child {
	margin-bottom: 8px;
}

/* POPUP FREE */
.popup-free-content {
	position: absolute;
	top: 40px;
	left: 0px;
	background-color: #fff;
	border-radius: 8px;
	padding: 1rem 1.4rem 1.6rem 1.4rem;
	width: 33rem;
	visibility: hidden;
	z-index: 100;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.popup-free {
	cursor: pointer;
}
.popup-free:hover .popup-free-content{
	visibility: visible;
}


/* POPUP FREE MOBILE */
.popup-free--mobile-content {
	position: absolute;
	top: 25px;
	left: 120px;
	background-color: #fff;
	border-radius: 8px;
	padding: 1rem 1.4rem 1.6rem 1.4rem;
	width: 28rem;
	visibility: hidden;
	z-index: 100;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.popup-free--mobile {
	cursor: pointer;
}

.popup-free--mobile:hover .popup-free--mobile-content {
  visibility: visible;
}

/* BUTTON */

.item__button {
	border: none;
	background-color: #fff;
	font-size: 2rem;
	line-height: 2.4rem;
	margin: 0 1rem;
	cursor: pointer;
}

/* CHECKBOX */
.checkbox--mobile {
	display: none;
}
.input--mobile {
	display: block;
}

[type="checkbox"] {
	opacity: 0;
	height: 22px;
	
}

[type="checkbox"] + label {
	position: relative;
	cursor: pointer;
	display: inline-block;
	color: #666;
	line-height: 1rem;
	padding-left: 1rem;
	z-index: 999;
}

[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 22px;
	height: 22px;
	outline: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}

[type="checkbox"]:checked + label::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 22px;
	height: 22px;
	outline: 1px solid rgba(0, 0, 0, 0);
	background-color: #cb11ab;
	border-radius: 6px;
}

[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	right: 2px;
	bottom: 2px;
	width: 15px;
	height: 15px;
	background-image: url(./img/checked.svg);
	background-repeat: no-repeat;
	border-radius: 6px;
}

.product__label label {
	padding: 0;
	margin-left: 0.7rem;
	top: 3.2rem;
}

/* OUT OF STOCK */
.section__out-of-stock {
	margin-top: 8rem;
}

.item__left--out-of-stock {
	display: flex;
}

.item__info--out-of-stock {
	flex-direction: column;
}

.text__out-of-stock {
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 600;
}

.item__name--out-of-stock {
	color: #9797af;
}

.item__param--out-of-stock {
	color: #9797af;
}

.item__pic--out-of-stock {
	filter: grayscale(1);
}

/* DELIVERY SECTION */
.delivery__info--left {
	display: flex;
	flex-direction: column;

	width: 17.7rem;
	margin-right: 3.2rem;
}

.delivery__info--left > p {
	display: inline-block;
	margin-bottom: 1.6rem;
}

.str--1 {
	height: 3.8rem;
}

.str--3 {
	height: 5.9rem;
}

.delivery__info--right > div:not(:last-child) {
	margin-bottom: 1.6rem;
}

.section__delivery {
	padding: 1.6rem 2.4rem 2.4rem 2.4rem;
	margin-top: 4rem;
}

.delivery__info {
	display: flex;
}

.delivery__pickup-info {
	display: flex;
}

.delivery__address p {
	margin-right: 0.8rem;
}

.delivery__rate {
	margin-left: 0.4rem;
}

.delivery__rating {
	display: flex;
}

.delivery__item {
	display: inline-block;
	position: relative;
}

.delivery__item:not(:last-child) {
	margin-right: 0.8rem;
}

.delivery__img {
	width: 40px;
	height: 56px;
}

.delivery__returns {
	position: relative;
	display: flex;
	align-items: center;
}

.delivery__returns img {
	margin-right: 0.9rem;
}

.delivery__returns p {
	font-size: 1.3rem;
	line-height: 1.6rem;
}

.delivery__returns span {
	color: #0cb477;
	border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

/* PAYMENTS SECTION */
.section__payments {
	margin: 1.6rem 0;
	padding: 1.6rem 2.4rem 2.4rem 2.4rem;
}

.payments__card {
	display: flex;
	margin-bottom: 0.8rem;
}

.payments__card img {
	background-color: #f6f6fa;
	border-radius: 4px;
	padding: 0 0.1rem;
	margin-right: 0.8rem;
}

.payments__card p:not(:last-child) {
	margin-right: 1.2rem;
}

/* RECIPIENT SECTION */
.section__recipient {
	margin-top: 1.6rem;
	padding: 1.6rem 2.4rem 2.4rem 2.4rem;
	margin-bottom: 3.6rem;
}

.recipient__heading {
	margin-bottom: 1.6rem;
}

.recipient__input-wrapper {
	width: 70rem;
}

.recipient__top {
	display: flex;
	margin-bottom: 2rem;
}

.recipient__top input {
	width: 50%;
}

.recipient__top input:first-child {
	margin-right: 2.4rem;
}

.recipient__input {
	border-bottom: 1px solid #9797af;
	padding-bottom: 0.5rem;
}

.recipient__input--err {
	color: #F55123;
	border-bottom: 1px solid #F55123;
}

.err-message {
	position: absolute;
	font-size: 1.2rem;
	line-height: 1.4rem;
	color: #F55123;
}

.recipient__input::placeholder {
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin-bottom: 0.5rem;
}

.recipient__bottom {
	display: flex;
	justify-content: space-between;
}

.recipient__bottom > input {
	width: 30%;
	position: relative;
}

.recipient__bottom--inn p {
	position: absolute;
}

/* TOTAL SECTION */
.section__total--mobile {
	display: none;
}

.section__total {
	width: 42.9rem;
	height: 57.2rem;
	border-radius: 1.6rem;
	padding: 1.6rem 2.4rem 2.4rem 2.4rem;
}

.total__price--wrapper {
	margin-bottom: 2.4rem;
}

.price__str {
	display: flex;
	justify-content: space-between;
}

.price__str:first-child {
	margin-bottom: 0.8rem;
}

.right-side {
	text-align: end;
}

.total--header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.6rem;
}

.delivery__date {
	margin-top: 0.4rem;
	font-size: 1.3rem;
	line-height: 1.6rem;
	color: #cb11ab;
}

.delivery__date span {
	border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}

.delivery__footer {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 1.2rem;
	padding: 0.8rem 0.8rem 1.2rem;
	gap: 0.8rem;
	background-color: #f6f6fa;
	border-radius: 8px;
}

.delivery__footer span {
	color: #0cb477;
	border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

.delivery__footer--mobile {
	position: relative;
}

.total__card {
	margin-top: 2.4rem;
}

.card__num {
	display: flex;
	align-items: center;
}

.card__num img {
	background-color: #f6f6fa;
	border-radius: 4px;
	padding: 0 0.1rem;
	margin-right: 0.8rem;
}

.card__footer {
	margin-top: 1.2rem;
	background-color: #f6f6fa;
	border-radius: 8px;
	padding: 0.8rem 0.8rem 1.2rem;
}

.footer__top {
	display: flex;
	align-items: center;
	margin-bottom: 0.8rem;
	margin-left: 0.8rem;
}

.footer__top label {
	width: 22px;
	top: 12px;
	left: -18px;
	margin-right: 0.5rem;
}

.total__button {
	display: inline-block;
	border: none;
	outline: none;
	background: #cb11ab;
	border-radius: 8px;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #ffffff;
	width: 100%;
	height: 4.4rem;
	margin-top: 2.4rem;
	margin-bottom: 1.2rem;
	cursor: pointer;
}


.total__terms {
	display: flex;
	align-items: start;
}

.total__terms img {
	margin-top: 0.2rem;
	margin-right: 0.8rem;
}

.total__terms span {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* FOOTER */
footer p {
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.3rem;
	line-height: 1.6rem;
	text-align: center;
	padding: 2.4rem;
}

/* MEDIA  QUERRIES*/

@media screen and (max-width: 1300px) {
	.section__cart {
	}

	.header__center {
		width: 63%;
	}

	.section__total {
		height: 58rem;
	}
}

@media screen and (max-width: 1150px) {
	.section__cart {
		width: 65rem;
	}

	.recipient__input-wrapper {
		width: 59rem;
	}
}

@media screen and (max-width: 1024px) {
	.header__center {
		width: 60%;
	}

	.section__total {
		height: 59.5rem;
	}

	.header__input {
		width: 94%;
	}
}

@media screen and (max-width: 1000px) {
	html {
		font-size: 55%;
	}

	.burger img {
		left: 15%;
	}
}

@media screen and (max-width: 900px) {
	html {
		font-size: 50%;
	}
}

@media screen and (max-width: 830px) {
	html {
		font-size: 47%;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 45%;
	}

	.section__total {
		height: 60rem;
	}

	.burger img {
		width: 25px;
		left: 10%;
	}

	.header__search img {
		top: 1rem;
	}

	.header__input {
		width: 93%;
	}

	.header__left img {
		height: 6.5rem;
	}

	.str--3 {
		height: 8rem;
	}
}

@media screen and (max-width: 730px) {
	.section__total {
		height: 65rem;
	}

	.footer__top label {
		top: 12px;
		left: -5px;
		margin-right: 0;
	}
}

@media screen and (max-width: 700px) {
	.section__total {
		height: 72rem;
	}
}

@media screen and (max-width: 690px) {
	.section__total {
		display: none;
	}

	.section__total--mobile {
		display: block;
	}

	.content {
		justify-content: start;
	}

	.section__cart {
		width: 100%;
	}

	.total__terms--mobile {
		padding-bottom: 10px;
	}

	.delivery__footer {
		background-color: #f0ecf4;
	}

	.card__footer--mobile {
		background-color: #f0ecf4;
	}

	.footer__top label {
		left: -12px;
	}

	.footer__bottom p {
		margin-left: 6px;
	}
}

@media screen and (max-width: 564px) {
	.header {
		height: 60px;
	}

	.burger {
		display: none;
	}

	.item__comp {
		align-items: center;
		margin: 0;
		position: relative;
	}

	.item__comp img {
		width: 15px;
	}

	.header__left img:last-child {
		display: none;
	}

	.header__center {
		display: flex;
		justify-content: center;
		margin-left: 70px;
	}

	.header__right {
		display: flex;
		justify-content: flex-end;
	}

	.header__center img:first-child {
		display: inline-block;
	}

	.header__search {
		display: none;
	}

	.header__item {
		display: none;
	}

	.burger--mobile {
		display: inline-block;
		width: 32px;
	}

	.search--mobile {
		display: inline-block;
	}

	.section__total {
		display: none;
	}
	.section__cart {
		width: 100%;
		margin: 0;
	}

	.total__terms--mobile {
		margin-bottom: 13px;
	}

	.in-stock__all p {
		margin-top: 3px;
	}
}

@media screen and (max-width: 489px) {
	.recipient__input-wrapper {
		width: 57rem;
	}

	.item__pic {
		margin-left: 0;
		position: relative;
	}

	.product__label {
		display: none;
	}

	.checkbox--mobile {
		position: absolute;
		display: block;
	}

	.checkbox--mobile label::before {
		background-color: #fff;
		left: -12px;
		top: -30px;
	}

	.checkbox--mobile label::after {
		left: -7px;
		top: -24px;
	}

	.item__pic {
		width: 80px;
		height: 106px;
	}
}

@media screen and (max-width: 480px) {
	
}